@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLight.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
      url('../fonts/HelveticaNeueMedium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
      url('../fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GothamRounded-Light.woff2') format('woff2'),
      url('../fonts/GothamRounded-Light.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #888;
}

main{
  max-width: 1310px;
}

.logo-image{
  max-width: 68px;
  max-height: 68px;
}

nav{
  background-color: #383838;
}

.links{
  font-family: 'Helvetica Neue Light';
  text-decoration: none;
  font-size: 13px;
  color: #888;
  padding: 0 15px 0 5px;
}

.links:hover{
  text-decoration: none;
  color: #D35266;
}

.nav-icons{
  font-size: 19px;
  color: #888;
}

.nav-button{
  border: none;
  background-color: #D35266;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
}

.nav-button:hover{
  background-color: rgb(110, 43, 53);
}

.search{
  height: 475px;
  /* background: url("../images/search-bg.png") no-repeat center;
  background-size: cover; */
  /* background-image: url("../images/search-bg.png"); */
}

.categories-button{
  background-color: white;
  border-radius: 0;
  padding: 10px 20px;
  /* border: none; */
  position: absolute;
}

.categories-ul{
  width: 150px;
  position: relative;
  list-style: none;
  top: 50px;
  border: royalblue 1px solid;
}